@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap"); /*font-family: "Poppins", sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@500&display=swap"); /*font-family: 'Palanquin Dark', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Salsa&display=swap"); /*font-family: 'Salsa', cursive;*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  width: 400px;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ebebeb;
}

ul {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
}

li {
  border: solid;
  font-size: 1.2em;
  padding: 0.4em 2em;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a {
  text-decoration: none;
  font-size: 1.5em;
  color: black;
}

.jonaspace {
  font-family: "Palanquin Dark", sans-serif;
  color: #1686fe;
}

.library {
  font-family: "Salsa", cursive;
  color: #699d99;
}

span {
  color: black;
}
.instagram {
  color: #e64d5a;
}

.twitter {
  color: #1da1f2;
}

.facebook {
  color: #1877f2;
}
