* {
    box-sizing: border-box;
    font: inherit;
    color: inherit;
  }
  
  body {
  margin: 0;
  color: #222;
  }

  #container {
      display:grid;
      grid-template-columns: repeat(12, 1fr);
  }

  .logo {
      grid-column: 2/4;
  }

  .menu__option {
      grid-column: 5/8;
      
  }
  