* {
    box-sizing: border-box;
    font: inherit;
    color: inherit;
  }
  
  body {
  margin: 0;
  color: #222;
  }

  .menu {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-top: 15px;
  }

  .links__button {
      color: #FFA903;
      background-color: #222;
      padding: 0px 30px;
      border-radius: 15px;
  }

  .links {
      
      margin: 10px;
  }