header {
  font-family: impact, arial, sans-serif;
  text-align: center;
  padding: 50px 50px 50px 50px;
  margin: 20px 50px 20px 50px;
  border: solid;
  border-width: medium;
  border-radius: 30px;
  background-color: orange;
}

Main {
  font-family: verdana, arial, sans-serif;
  text-align:justify;
  padding: 50px 20px 120px 200px;
  margin: 0px 50px 20px 50px;
  border: inset;
  border-radius: 30px;
  background-image: url("../images/bitmoji.0.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size:250px;
}

h1.Main {
  color: orange
}
div#tableContainer {
  display: table;
  margin: 0px 50px 0px 50px;

}
div#tableRow {
  display: table-row;
}
#one {
  display: table-cell;
width: 250px;
border:
}
#two {
  display: table-cell;
  width: 250px;

}
#three {
  display: table-cell;
width: 250px;

}

footer {
 font-family: verdana, arial, sans-serif;
 text-align: center;
 text-decoration: underline;
 padding: 20px 0px 20px 0px;
 margin: 0px 50px 20px 50px;
 border: dashed;
 border-radius: 30px;
 background-image: url("../images/bitmoji.gif");
 background-repeat: no-repeat;
 background-position: right;
 background-size: 50px;
}
.H {
  font-weight: bolder;
  font-size: 135%;
}
.language {
  font-style: oblique;
}

.Headfirst {
  color: purple;
  font-weight: bold;
}

.space {
  font-weight: bold;
}
